<app-header></app-header>

<!--Registration Form -->
<div class="back">

  <form class="d-flex formsearch">
    <input [(ngModel)]="searchstaff" class="form-control inp me-2" type="search" placeholder="Search"
      aria-label="Search" [ngModelOptions]="{standalone: true}">

    <!-- <button class="btn btn-outline-light" type="submit">Search</button> -->
  </form>

  <div class="back-content">
    <h2>Our Staffs</h2>
    <!-- Button trigger modal -->
    <button *ngIf="hidestaff" type="button" class="btn mod-btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Staff
    </button>
    <button *ngIf="editstaffshow" type="button" class="btn mod-btn " data-bs-toggle="modal"
      data-bs-target="#exampleModal">
      Edit Staff
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Staff Regsitration</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col">
                  <label for="fname" class="form-label">Staff Name:</label>
                  <input type="text" [(ngModel)]="fname" class="form-control" placeholder="Enter first name"
                    name="fname">
                </div>
                <div class="col">
                  <input type="text" [(ngModel)]="lname" class="form-control" placeholder="Enter last name" name="lname"
                    style="margin-top: 32px;">
                </div>
              </div>


              <div class="row">
                <div class="col">
                  <label for="email" class="form-label mt-3">Email:</label>
                  <input type="email" [(ngModel)]="email" class="form-control" placeholder="Enter email" name="email">
                </div>

                <div class="col">
                  <label for="fname" class="form-label mt-3">Phone:</label>
                  <input type="tel" [(ngModel)]="phone" class="form-control" placeholder="Enter phone" name="phone">
                </div>



              </div>

              <div class="row">

                <div class="col">
                  <label for="apply" class="form-label mt-3">Applying for Position:</label>
                  <input class="form-control" [(ngModel)]="apply" type="text" name="apply">
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label for="gender" class="form-label mt-3">Gender:</label><br>
                  <div class="form-check mt-4">
                    <input class="form-check-input" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}"
                      type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="male">
                    <label class="form-check-label " for="flexRadioDefault1" style="margin-right: 50px;">
                      Male
                    </label>
                    <input class="form-check-input" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}"
                      type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked value="female">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Female
                    </label>
                  </div>


                </div>
              </div>

              <div class="row">
                <div class="col">
                  <label for="city" class="form-label mt-3">City:</label>
                  <input type="text" [(ngModel)]="city" class="form-control" placeholder="Enter City" name="city">
                </div>
                <div class="col">
                  <label for="state" class="form-label mt-3">State:</label>
                  <input type="text" [(ngModel)]="state" class="form-control" placeholder="Enter state" name="state">
                </div>
              </div>



              <div class="row">
                <div class="col">
                  <label for="address" class="form-label mt-3">Address:</label>
                  <input class="form-control" type="text" [(ngModel)]="address" placeholder="Enter your address"
                    name="address">
                </div>

              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" *ngIf="hideregister" [disabled]="email == '' " (click)="register();"
              class="btn btn1 btn-primary" data-bs-dismiss="modal">Register</button>
            <button type="button" *ngIf="hideupdate" (click)="update();" class="btn btn2 btn-success">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- table -->

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Gender</th>
      <th>City</th>
      <th>State</th>
      <th>Address</th>
      <th>Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of staffregister | filter:searchstaff ; let i = index">
      <td>{{data.fname}}</td>
      <td>{{data.lname}}</td>
      <td>{{data.email}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.apply}}</td>
      <td>{{data.gender}}</td>
      <td>{{data.city}}</td>
      <td>{{data.state}}</td>
      <td>{{data.address}}</td>
      <td><i class="fa fa-pencil-square-o" (click)="edit(i , data)" style="font-size:24px;cursor: pointer;"></i><i
          style='font-size:24px;cursor: pointer;padding-left: 20px;color: red;' (click)="delete(i)"
          class='fas'>&#xf2ed;</i></td>
    </tr>
  </tbody>
</table>
